[submodule "videosr/static/videosr/json-js"]
	path = videosr/static/videosr/json-js
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "videosr/static/videosr/jquery-fileupload"]
	path = videosr/static/videosr/jquery-fileupload
	url = https://github.com/blueimp/jQuery-File-Upload.git
