{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>로그인 - 화질구지</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <!-- Bootstrap Core CSS -->
        <link href="{% static "sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static "sb-admin-2/vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "login/css/loginform.css" %}">
        <link href="{% static "sb-admin-2/dist/css/sb-admin-2.css" %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static "sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">사용자 로그인</h3>
                        </div>
                        <div class="panel-body">
                            <p>당신의 구글 계정을 사용해 로그인합니다.</p>
                            <a href="{% url "social:begin" "google-oauth2" %}">
                                <button id="login-button" class="btn"></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="{% static "sb-admin-2/vendor/jquery/jquery.min.js" %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "sb-admin-2/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static "sb-admin-2/vendor/metisMenu/metisMenu.min.js" %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static "sb-admin-2/dist/js/sb-admin-2.js" %}"></script>
    </body>
</html>