#login-button {
  background: url("../google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png") no-repeat;
  width: 191px;
  height: 46px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#login-button:hover {
  background: url("../google_signin_buttons/web/1x/btn_google_signin_dark_focus_web.png") no-repeat;
}

#login-button:active {
  background: url("../google_signin_buttons/web/1x/btn_google_signin_dark_pressed_web.png") no-repeat;
}