{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Video SR Web Service Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
			{% block content %}
			{% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
