{% extends 'videosr/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
    <h1>Login Test</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}.</p>
        {% if logined_user_credit is not None %}
            <p>Your credit is {{ logined_user_credit }}.</p>
        {% else %}
            <p>You have no credit infomation. Ask to admin.</p>
        {% endif %}
        <a href="{% url 'logout' %}"><button class="btn btn-warning" style="width: 40%">Log Out</button></a>
	    <a href="{% url 'delete_account' %}"><button class="btn btn-danger" style="width: 40%">Delete Account</button></a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url "social:begin" "google-oauth2" %}"><button class="btn btn-danger" style="width: 40%">G+ Login</button></a>
    {% endif %}
    <hr>
    <a href="{% url 'index' %}">Back to the index</a>
{% endblock %}

{% block script %}
{% endblock %}
