{% extends "videosr/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "videosr/css/upload-test.css" %}">
{% endblock %}
{% block content %}
    <h1>Upload Test</h1>
    <div>
        {% csrf_token %}
        <span>File name: <label id="filename"></label>
            <input type="radio" name="scale_factor" value="2" checked="checked">x2
            <input type="radio" name="scale_factor" value="4">x4
        </span><br>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input id="fileupload" type="file" name="uploaded_file" data-url="/upload/progress/" accept="video/*">
        </span>
        <button id="start_upload" type="button" class="btn btn-primary">
            <span>Start upload</span>
        </button>
    </div>
    <div class="progress">
        <div id="progress" class="progress-bar"></div>
    </div>
    <hr>
    <a href="{% url 'test:index' %}">Back to the index</a>
{% endblock %}
{% block script %}
    <script src="{% static "videosr/jquery-fileupload/js/vendor/jquery.ui.widget.js" %}"></script>
    <script src="{% static "videosr/jquery-fileupload/js/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "videosr/jquery-fileupload/js/jquery.fileupload.js" %}"></script>
    <script src="{% static "videosr/json-js/json2.js" %}"></script>
    <script src="{% static "videosr/js/chunk-size-upload.js" %}"></script>
{% endblock %}
