{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
결제 관리 - 화질구지
{% endblock %}

{% block style %}
<link rel='stylesheet' href="{% static 'payment/css/index.css' %}">
{% endblock %}

{% block page-wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">결제 관리</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div id="generic_price_table">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--PRICE HEADING START-->
                        <div class="price-heading clearfix">
                            <h1>가격표</h1>
                        </div>
                        <!--//PRICE HEADING END-->
                    </div>
                </div>
            </div>
            <div class="container">
    
                <!--BLOCK ROW START-->
                <div class="row">
                    <div class="col-md-4">
    
                    <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">
    
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
    
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
    
                                <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic</span>
                                    </div>
                                    <!--//HEAD END-->
    
                                </div>
                                <!--//HEAD CONTENT END-->
    
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">9</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/100 coin</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
    
                            </div>
                            <!--//HEAD PRICE DETAIL END-->
    
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                            <ul>
                                <li><span>2GB</span> Bandwidth</li>
                                    <li><span>150GB</span> Storage</li>
                                    <li><span>12</span> Accounts</li>
                                    <li><span>7</span> Host Domain</li>
                                    <li><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
    
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                            {% if user.is_authenticated %}
                                <a href="{% url 'payment:payment_request' amount='9900' %}">Pay</a>
                            {% else %}
                            <a href="{% url 'login:index' %}">Sign in</a>
                            {% endif %}
                            </div>
                            <!--//BUTTON END-->
    
                        </div>
                        <!--//PRICE CONTENT END-->
    
                    </div>
    
                    <div class="col-md-4">
    
                    <!--PRICE CONTENT START-->
                        <div class="generic_content active clearfix">
    
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
    
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
    
                                <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Standard</span>
                                    </div>
                                    <!--//HEAD END-->
    
                                </div>
                                <!--//HEAD CONTENT END-->
    
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">19</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/250 coin</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
    
                            </div>
                            <!--//HEAD PRICE DETAIL END-->
    
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                            <ul>
                                <li><span>2GB</span> Bandwidth</li>
                                    <li><span>150GB</span> Storage</li>
                                    <li><span>12</span> Accounts</li>
                                    <li><span>7</span> Host Domain</li>
                                    <li><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
    
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                            {% if user.is_authenticated %}
                            <a href="{% url 'payment:payment_request' amount='19900' %}">pay</a>
                            {% else %}
                            <a href="{% url 'login:index' %}">Sign in</a>
                            {% endif %}
                            </div>
                            <!--//BUTTON END-->
    
                        </div>
                        <!--//PRICE CONTENT END-->
    
                    </div>
                    <div class="col-md-4">
    
                    <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">
    
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
    
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
    
                                <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Unlimited</span>
                                    </div>
                                    <!--//HEAD END-->
    
                                </div>
                                <!--//HEAD CONTENT END-->
    
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">49</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
    
                            </div>
                            <!--//HEAD PRICE DETAIL END-->
    
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                            <ul>
                                <li><span>2GB</span> Bandwidth</li>
                                    <li><span>150GB</span> Storage</li>
                                    <li><span>12</span> Accounts</li>
                                    <li><span>7</span> Host Domain</li>
                                    <li><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
    
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                            {% if user.is_authenticated %}
                                <a href="{% url 'payment:payment_request' amount='49900' %}">Pay</a>
                            {% else %}
                                <a href="{% url 'login:index' %}">Sign in</a>
                            {% endif %}
                            </div>
                            <!--//BUTTON END-->
    
                        </div>
                        <!--//PRICE CONTENT END-->
    
                    </div>
                </div>
                <!--//BLOCK ROW END-->
    
            </div>
        </section>
{% endblock %}
{% block script %}
{% endblock %}
