{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
결제 관리 - 화질구지
{% endblock %}

{% block style %}
<link rel='stylesheet' href="{% static 'payment/css/index.css' %}">
{% endblock %}

{% block page-wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">크레딧 충전</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div id="generic_price_table">
        <!--BLOCK ROW START-->
        <div class="row">
            <div class="col-lg-4">
                <!--PANEL START-->
                <div class="panel panel-default">
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
        
                            <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>베이직</span>
                                </div>
                                <!--//HEAD END-->
        
                            </div>
                            <!--//HEAD CONTENT END-->
        
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">9</span>
                                    <span class="cent">,900   </span>
                                    <span class="sign">원</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
        
                        </div>
                        <!--//HEAD PRICE DETAIL END-->
        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        </div>
                        <!--//FEATURE LIST END-->
        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a href="{% url 'payment:payment_request' amount='9900' %}">결제</a>
                        </div>
                        <!--//BUTTON END-->
        
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>
                <!--PANEL END-->
            </div>
            <div class="col-lg-4">
                <!--PANEL START-->
                <div class="panel panel-default">
                    <!--PRICE CONTENT START-->
                    <div class="generic_content active clearfix">
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>스탠다드</span>
                                </div>
                                <!--//HEAD END-->
                            </div>
                            <!--//HEAD CONTENT END-->
        
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">19</span>
                                    <span class="cent">,900   </span>
                                    <span class="sign">원</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                        </div>
                        <!--//HEAD PRICE DETAIL END-->
        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        </div>
                        <!--//FEATURE LIST END-->
        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a href="{% url 'payment:payment_request' amount='9900' %}">결제</a>
                        </div>
                        <!--//BUTTON END-->
        
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>
                <!--PANEL END-->
            </div>
            <div class="col-lg-4">
                <!--PANEL START-->
                <div class="panel panel-default">
                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
        
                            <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>얼티메이트</span>
                                </div>
                                <!--//HEAD END-->
        
                            </div>
                            <!--//HEAD CONTENT END-->
        
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">49</span>
                                    <span class="cent">,900   </span>
                                    <span class="sign">원</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
        
                        </div>
                        <!--//HEAD PRICE DETAIL END-->
        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        </div>
                        <!--//FEATURE LIST END-->
        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a href="{% url 'payment:payment_request' amount='9900' %}">결제</a>
                        </div>
                        <!--//BUTTON END-->
        
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>
                <!--PANEL END-->
            </div>
        </div>
        <!--//BLOCK ROW END-->
    </div>
{% endblock %}
{% block script %}
{% endblock %}
