{% extends 'dashboard/base.html' %}

{% block title %}
결제 실패 - 화질구지
{% endblock %}

{% block style %}
{% endblock %}

{% block page-wrapper %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">결제 결과</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <!-- /.panel -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                결제 실패
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>결제 실패했습니다.</p>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}

{% block script %}
{% endblock %}
